    .logo-nav{
            display:inline-block;
        }
    .logo-nav{
         img{
            float:right;
         }
    }
     .hamburger{ 
        float:left;
    }
    .user-nav-links{
         h5{
            float:right;
         }
    }


    .first-section{
        background-color:lightblue;
    }
    .slogan{
        text-align: center;
        width:90%;
        margin-left:5%;
        padding-top:50px;
    }
    .button-container{
        width:90%;
        margin-left:5%;
        padding-bottom:50px;
    }

    .button-container{
         .button-wrapper{
            margin-top:30px;
            text-align: center;
         }
    }

    .button-container {
        
        .button-wrapper{
           
            button{
                margin:7px;
            }
        }
   }
    .second-section{
        text-align: center;
        p{
            font-size: 1.125rem;
        }
    }
    
    .third-section{
        background-color:rgba(202,228,219,1);
        text-align: center;

        .circle-info-group{
            display:inline-flex;
            width:100%;
            text-align: center;

            

            .circle-info{
                width:32.5%;
                margin:0 auto;
                text-align: center;
                word-wrap: break-word;

                
            }
            
           
            
            
        }
        
    }
    /* //displays none when in mobile view */
    .banking-links{
        display:none;
    }
    .product-links{
         ul{

            li{
                display:inline-block;
            }
            
         }
    }

    .links-list{
        width:80%;
        margin-left:10%;
        display:none;
    }